body {
    background-color: #333; /* Fundo cinza escuro */
    font-family: "Roboto", sans-serif; /* Fonte Roboto e font fallback */
    color: white; /* Cor da fonte branca */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
}